@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --main-color: #047857;
  --accent-color: #fcd34d;
  --background-color: #e2e8f0;
  --border-color: #94a3b8;
  --card-color: #fff;
  --text-color: #333;
}

html[data-theme='dark'] {
  --main-color: #064e3b;
  --background-color: #0f172a;
  --card-color: #1e293b;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  font-size: 1.6rem;
  color: var(--text-color);
  transition: all 0.3s ease-in;
}

aside,
header,
main,
section {
  padding: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.sidebar {
  grid-row: 1 / 4;
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  z-index: 100;
}

.title-div {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.logo {
  height: 3.2rem;
  width: 3.2rem;
  fill: #fff;
}

.main-title {
  font-size: 2.4rem;
  font-weight: bold;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav-icon {
  height: 2.4rem;
  fill: #fff;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header {
  grid-column: 2/-1;
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 1rem 4rem;
  background-color: var(--card-color);

  z-index: 100;
}

.icon {
  height: 3.2rem;
  fill: var(--text-color);
  cursor: pointer;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-field {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 100px;
  font: inherit;
  outline: none;
  border: none;
  background-color: var(--background-color);
}

.log-out-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  padding: 0 4rem;
}

.toggle-theme {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 0.8rem;
  border-radius: 100px;
  position: relative;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-weight: bold;
}

.greeting-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.user-img {
  border-radius: 50%;
  object-fit: cover;
}

.user-img--lg {
  height: 7.4rem;
  width: 7.4rem;
}

.user-img--sm {
  height: 4.8rem;
  width: 4.8rem;
}

.greeting {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.greeting-hi {
  font-size: 1.4rem;
  font-weight: bold;
}

.greeting-name {
  font-size: 2.4rem;
  font-weight: bold;
}

.btn-container {
  padding: 0 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.btn--basic {
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem 3rem;
  border-radius: 100px;
  font: inherit;
  font-weight: bold;
}

.projects-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 3fr 1fr;

  background-color: var(--background-color);
  overflow-y: scroll;
}

.section-title {
  margin-bottom: 1.8rem;
}

.projects {
  grid-row: 1 / span 2;
}

.projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2.4rem;
}

.project-item {
  border-left: 0.8rem solid var(--border-color);
}

.card {
  background-color: var(--card-color);
  padding: 3.2rem 2.4rem;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.project-item.favorite {
  border-left-color: var(--accent-color);
}

.project-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-title {
  margin-bottom: 0.8rem;
}

.project-description {
  margin-bottom: 2.4rem;
}

.project-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1.2rem;
  margin-top: auto;
}

.announcements {
  grid-column: 2 / span 1;
}

.announcements-list {
  background-color: #fff;
}

.announcement {
  font-size: 1.2rem;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid var(--background-color);
  padding-bottom: 1.2rem;
  margin-bottom: 1.2rem;
}

.announcement-title {
  margin-bottom: 0.6rem;
}

.trending {
  grid-column: 2 / span 1;
}

.trending-projects-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.trending-project-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.trending-img {
  height: 3.2rem;
  width: 3.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.project-owner {
  font-size: 1.2rem;
}

.project-name {
  font-size: 1.6rem;
  font-weight: bold;
}

.footer {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  background-color: var(--background-color);
}

.footer a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}
